<div class="topbar">
    <!-- LOGO -->
    <div class="topbar-left">
        <a href="/" class="logo">
                    <span>
                        <img src="assets/images/logo.png" alt="" height="111">
                    </span>
            <i>
                <img src="assets/images/logo_sm.png" alt="" height="33">
            </i>
        </a>
    </div>
    <%
                        
        let content =0 ;
        numbernotifi  = 0 ;
        user.notifications.forEach((item)=>{
            if(item.number>0){
                content++ ;
                numbernotifi+= item.number ;
            }
        }) 
    %>
    <nav class="navbar-custom bg-success">

        <ul class="list-inline float-right mb-0">
            <li class="list-inline-item dropdown notification-list">
                <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button"
                   aria-haspopup="false" aria-expanded="false">
                    <i class="dripicons-bell noti-icon"></i>
                    <span class="badge badge-pink noti-icon-badge"><%=content %></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-lg" aria-labelledby="Preview">
                    <!-- item-->

                    <div class="dropdown-item noti-title">
                        <h5><span class="badge badge-danger float-right"> <%=numbernotifi %></span>Notification</h5>
                    </div>

                    <!-- item-->
                    <% 
                        user.notifications.forEach((item)=>{
                            if(item.number>0){ %>
                                <div class="item-noti">
                                    <div class="notifi-icon bg-success"><i class="icon-bubble"></i></div>
                                    <div style="font-size: 13px; flex-grow: 1;"> <a href="<%=item.link%>"><%=item.message%></a> </div>
                                </div>
                           <% }
                        }) 
                    %>


                </div>
            </li>

            <li class="list-inline-item dropdown notification-list">
                <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                   aria-haspopup="false" aria-expanded="false">
                    <img src="http://wooeu.net/home/uploads/<%=user.Avatar%>" alt="user" class="rounded-circle">
                </a>
                <div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">
                    <!-- item-->
                    <div class="dropdown-item noti-title">
                        <h5 class="text-overflow"><small>Welcome ! <%=user.UserName%></small> </h5>
                    </div>

                    <!-- item-->
                    <a href="/me" class="dropdown-item notify-item">
                        <i class="mdi mdi-account-circle"></i> <span>Profile</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="mdi mdi-settings"></i> <span>Đổi Mật Khẩu</span>
                    </a>

                    <!-- item-->
                    <!-- <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="mdi mdi-lock-open"></i> <span>Lock Screen</span>
                    </a> -->

                    <!-- item-->
                    <a href="/logout" class="dropdown-item notify-item">
                        <i class="mdi mdi-power"></i> <span>Logout</span>
                    </a>

                </div>
            </li>

        </ul>

        <ul class="list-inline menu-left mb-0">
            <li class="float-left">
                <button class="button-menu-mobile open-left waves-light waves-effect">
                    <i class="dripicons-menu"></i>
                </button>
            </li>
            <li class="hide-phone app-search">
                   <p class="title-etc">CỔNG THÔNG TIN ETC ĐÔNG HÀ</p>
            </li>
        </ul>

    </nav>

</div>
<style>
    .item-noti {
        padding: 10px 20px;
        display: flex;
    }
    .notifi-icon {
        height: 36px;
        width: 63px;
        line-height: 36px;
        text-align: center;
        margin-right: 10px;
        border-radius: 50%;
        color: #ffffff;
        flex-basis: 63px;
    }
</style>